/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 4, 2017, 11:28:00 PM
    Author     : Pashtet
*/
*{
    padding : 0px;
    margin : 0;
}
#left{
    position: absolute;
    left : 0;
    top : 0;
    width : 20%;
}
#right{
    position: absolute;
    right : 0;
    top : 0;
    width : 80%;
}
#left div{
    border: 0px solid red;
    position: relative;
    width: 100%;
}
#searchDate{
    border: 1px solid #cccccc;
    font: 17px Times New Roman;
    width: 200px;
}
#searchText{
    border: 1px solid #cccccc;
    font: 17px Times New Roman;
    width: 200px;
}
#selectList{
    display: none;
    list-style-type: none;
    border: 1px solid #cccccc;
    padding: 0px;
    margin: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow: 0 0 3px #cccccc;
    border-radius: 2px;
    width: 200px;
}
#selectList li{
    border-top: 1px dotted #cccccc;
    height: 25px;
    font: 17px Times New Roman;
}
#selectList li:hover{
    cursor: pointer;
    background: #fef6d7 !important;
}
#selectList li:first-child{
    border: none;
}
#searchResult table{
    position: relative;
    right: 0;
    width: 100%;
}
